.firstrow{
	margin-top:70px;
}

a:hover{
	text-decoration: none;
	background: #000000;
}

hr{
	border-color: #555555;
	margin-top: 2px;
}

dt{
	padding-left: 20px;
}
dd{
	padding-left: 40px;
	margin-bottom:10px;
}

h4{
	margin-top: 40px;
}

footer{
	margin-top: 50px;
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 11px;
	padding: 20px;
	padding-bottom: 80px;
	border-radius: 5px;
	height:40px;
	background-color: #efefef;
	color : #444444;
}

.biobackground{
	background-image: url("");
	background-repeat: no-repeat;
	background-position: left top;
}
 
.biomenuitem{
	background-image: url("");
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #efefef;
	border-radius: 6px;
	color : #444444;
}
.artmenuitem{
	background-image: url("");
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #efefef;
	border-radius: 6px;
	color : #444444;
 }
.codemenuitem{
	background-image: url("");
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #efefef;
	border-radius: 6px;
	color : #444444;
}
.musicmenuitem{
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #efefef;
	border-radius: 6px;
	color : #444444;
}

.codewindow{
	background-color: #cccccc;
	color: #444444;
}

.imagecenter{
	display: block;
	margin:auto;
}
